table, td, th{
    border: 1px solid #fff6e7;
    border-collapse: collapse;
}
body {
    font-family: gill sans, sans-serif;
    padding-left: 20px;

    background-color: #fff6e7;
    color: #004d3d;
}
button{
    background-color: #fff6e7;
    border: #fff6e7 1px;
    color: #004d3d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    color: #fff6e7;
    border:#004d3d 1px;
    background: #004d3d;
}
img {
    width: 35%;
    align-items: center;
}

