body {
    font-family: gill sans, sans-serif;
    background-color: #004d3d;
    color: #fff6e7;
    text-align: center;
}

button.big{
    background-color: #fff6e7;
    border: 0px solid #fff6e7;
    color: #004d3d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}


button[type="submit"], input[type="submit"], button.small{
    background-color: #fff6e7 !important;
    border: 0px solid #fff6e7;
    color: #004d3d;
    padding: 5px 8px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
}

button:hover{
    background-color: #7ea16b;
    border: 0px solid #2E3532 ;
    color: #fff6e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

img {
    width: 35%;
    align-items: center;
}

